.gamescreen {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: black;
    margin: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gamescreen {
    color: lime;
    background-color: black;
    font-size: 14px;
    height: auto;
}
.startscreen {
  position: absolute;
  padding: 10px;
  top: 50%;
  left: 30%;
  width: 400px;
  height: 350px;
  margin-left: -205px;
  margin-top: -180px;
  border: 2px solid lime;
  background-color: black;
  color: lime;
  text-align: center;
}
.enemies {
  position: absolute;
  padding: 10px;
  top: 50%;
  left: 70%;
  width: 400px;
  height: 350px;
  margin-left: -205px;
  margin-top: -180px;
  border: 2px solid lime;
  background-color: black;
  color: lime;
  text-align: center;
}
.gameover {
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 25%;
    width: 400px;
    height: 350px;
    margin-left: -205px;
    margin-top: -180px;
    border: 2px solid lime;
    background-color: black;
    color: lime;
    text-align: center;
}

.skull {
    text-align: left;
}
