.gamescreen {
  width: 100vw;
  height: 100vh;
}
body {
  background-color: black;
  margin: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
pre {
  color: green;
  font-size: 16px;
  text-align: center;
  height: auto;
}